h1 {
  text-align: center;
}

body {
  background-color: #caedec
}

p {
  font-size: 20px;
text-align: center;
}
.well {
  background-color: #e39ad1
}

#price-one {
  display: none;
}

#price-two {
  display: none;
}

#price-three {
  display: none;
}
